{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <style>
        .header{
            background: #f4f5f6;
            border-bottom: .1rem solid #d1d1d1;
            border-top: .1rem solid #d1d1d1;
            padding: 1em 0;
        }
        .header b{
            font-weight: 700;
            text-transform: uppercase;
        }
        .content-wrap{
            min-height: calc(100vh - 8em);
            padding: 3em 0;
        }
        .footer{
            background: #f4f5f6;
            border-top: .1rem solid #d1d1d1;
            border-bottom: .1rem solid #d1d1d1;
            padding: 1em 0;
        }
        .error{
            color: #FF9494;
        }
    </style>
</head>

<body>
    
    <header class="header">
        <section class="container">
            <div class="column">
                <a href="/"><b>Ethereum simple gate</b></a>
            </div>
        </section>
    </header>

    <div class="content-wrap">
    {{template "content" .}}
    </div>

    <footer class="footer">
        <section class="container">
            <div class="column">
                <i>By John Nguyen</i>
            </div>
        </section>
    </footer>

</body>

</html>
{{end}}